button {
  border-radius: 2px;
  background-color: var(--color-button-bg);
  color: var(--color-text);
  border: 1px solid var(--color-button-border);
  padding: 3px 8px;
  font-size: 1em;

  &.disabled,
  &:disabled {
    border-color: var(--color-button-disabled-border);
  }

  &:not(.disabled):not(:disabled) {
    &:hover {
      background-color: var(--color-button-hover-bg);
    }

    &:active,
    &.active {
      background-color: var(--color-button-active-bg);
    }
  }
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: var(--color-select-arrow) right / 20px no-repeat var(--color-select-bg);
  padding-right: 20px;
}
